*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: white;
    width: 100%;
}
.product-image{
    background-color: rgb(221, 10, 10);
    width: auto;
}
.images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
   
}
.images img{
    height: 400px;
    width: 500px;
}
.product_details{
    display: grid;
    grid-template-columns: 600px 1fr  300px;
    margin: 1rem;
    gap: 1rem;
    margin-top: 100px;
    width: 100%;    
}
.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title_detail{
    font-size: 30px;

}
.emi{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow: auto;
    width: auto;
    padding: 1rem;
}
.emi-detail{
    border: solid 2px rgb(195, 182, 182);
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    background-color: rgb(236, 233, 233);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
/* producty buy information start */
.offers{
    display: flex;
    justify-content: space-between;
}
.product-buy-information{
    width: 100%;
}
.exchange-offers{
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: aliceblue;
   
}
.button{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.ATC_btn_1{
    background-color: #ffd814;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    
}
.Buy_now{
    background-color: #ffa41c;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

/* producty buy information start end*/

/*services start*/
.services{
    margin-top: 2rem;
}
.services-images{
    display: flex;
    gap: 2rem;
    overflow: auto;
}
.services-images div{
    width: 150px;
}
/*services end*/
/*coulors start*/
.colours{
    display: flex;
    gap: 1rem;
}
/*coulors end*/

.size-btn{
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
}

.style-btn{
    padding: 7px;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
}
th,td{
    padding: 15px 15px 0px 10px ;
}
th{
    text-align: left;
}
/*product detail start*/
ul{
    margin-left: 1rem;
}
ul li{
    padding: 15px;
}
/*product detail end*/
.big-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}